<title>All Players</title>
<h1>All Players</h1>

<%= link_to "search_player", search_players_path %>
<ul>
  <% @players.each do |player| %>
    <li>
     <%= link_to player.playerID, player %>
    </li>
  <% end %>
</ul>

